.list-priorities {
  margin: 0.25em 0;
  padding: 0 0 0 0;
  border: 1px #ddd solid;
}

.issue-container {
  background-color: #fff;
  margin: -1px;
  list-style-type: none;
  border: 1px #ddd solid;
  padding: 0.25rem;
}

.hidden {
  margin: 0;
  padding: 0;
  border: 0;
}

.issue-title {
  font-size: 130%;
}

.issue-state {
  font-size: 130%;
}

.issue-state-open {
  color: #6cc644;
}

.issue-state-closed {
  color: #bd2c00;
}

.issue-misc {
  font-size: 90%;
  color: #555;
  margin: 0 0.25rem;

  .issue-user-avatar {
    width: 20px;
    border-radius: 2px;
  }
}
