.list-priorities {
  margin: 0;
  padding: 0;
}

.issue-container {
  list-style-type: none;
}

.issue-title {
  font-size: 130%;
}

.issue-state {
  font-size: 130%;
}

.issue-state-open {
  color: #6cc644;
}

.issue-state-closed {
  color: #bd2c00;
}
